html,body{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
}

#poster{
    margin-top: 5vw;
}

.article{
    width: 50vw;
    height: auto;
    margin: 2vw auto;
}

.article .img{
    width: 100%;
    height: auto;
}