body {
    overflow-y: scroll;
}

.hidden {
    display: none;
}

#app {
    width: 100%;
    height: auto;
    background-color: rgba(230, 233, 236, 0.3);
    margin: 0 auto;
}

#header {
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    width: 100%;
    border: none;
    padding-top: 4%;
    padding-bottom: 1%;
    background: transparent;
}

.container-fluid {
    margin: 0 auto;
}

#headerTitle {
    margin: 0 auto;
    font-size: 3vw;
    color: #555;
    font-family: 'DancingScriptOT', cursive;
}

.navHome,
.navOwn {
    float: right;
    font-size: 2vw;
    color: #555;
    margin: 0 2%;
    font-family: 'Montserrat-Light';
    cursor: pointer;
}

.navHome {
    color: rgba(50, 50, 50, 0.5);
    text-decoration: underline;
}

.navOwn {
    margin-right: 12%;
}

.navDivider {
    float: right;
    color: #555;
    padding-top: 4.7%;
}

#poster {
    width: 72%;
}

.colume1,
.colume2,
.colume3 {
    width: 31%;
    display: block;
    float: left;
    margin: auto 1%;
}

.article {
    width: 100%;
    margin: 6% auto;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}

.article:hover {
    opacity: 0.7;
}

.article .img {
    width: 100%;
    background-color: transparent;
}

#myPoster {
    width: 72%;
    display: none;
}

.myPost {
    width: 100%;
    margin: 6% auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.myPost .img {
    width: 100%;
    background-color: transparent;
}

.myPost .img:hover {
    opacity: 0.7;
}

.myPost .postTitile {
    left: 0;
    color: #888;
    font-family: 'Montserrat-Light';
    font-size: 1.2vw;
    padding: 5% 2%;
    background-color: white;
}

#backToTop {
    position: fixed;
    right: 0;
    bottom: 5vw;
    display: none;
}

#backToTop:hover{
    background-color: #999;
}

#backToTop button {
    padding: 10% 10%;
    font-size: 2vw;
    border: none;
    border-radius: 1px;
    background-color: rgba(150,150,150,0.5);
    color: #555;
}

@media screen and (min-width: 300px) {
    #headerTitle {
        padding: 0;
        font-size: 6.5vw;
        width: 35%;
    }
    .navHome,
    .navOwn,
    .navDivider {
        font-size: 3.2vw;
        padding-top: 5%;
    }
    .navOwn {
        margin-right: 7%;
    }
    #myPoster {
        width: 93%;
    }
    .myPost .postTitile {
        font-size: 2.2vw;
    }
    #poster {
        width: 93%;
    }
    #backToTop button{
        font-size: 5vw;
    }
}

@media screen and (min-width: 768px) {
    #headerTitle {
        font-size: 4vw;
        padding-top: 0;
        padding-bottom: 0;
        width: 20%;
    }
    .navHome,
    .navOwn,
    .navDivider {
        padding-top: 2%;
        font-size: 1.5vw;
    }
    .navOwn {
        margin-right: 12%;
    }
    .myPost .postTitile {
        font-size: 1.3vw;
    }
    #poster {
        width: 80%;
    }
    #myPoster {
        width: 80%;
    }
}

@media screen and (min-width: 1366px) {
    #app {
        width: 1366px;
    }
    #header {
        padding-top: 20px;
        width: 1366px;
    }
    #headerTitle {
        font-size: 60px;
        width: 25%;
        padding-top: 30px;
    }
    .navHome,
    .navOwn,
    .navDivider {
        padding-top: 25px;
        font-size: 20px;
    }
    #poster {
        margin-top: 10px;
        width: 80%;
    }
    .myPost .postTitile {
        font-size: 20px;
    }
    #backToTop button{
        font-size: 30px;
    }
}

@font-face {
    font-family: 'DancingScriptOT';
    src: url('fonts/DancingScriptOT.eot');
    src: url('fonts/DancingScriptOT.eot?#iefix') format('embedded-opentype'), url('fonts/DancingScriptOT.woff2') format('woff2'), url('fonts/DancingScriptOT.woff') format('woff'), url('fonts/DancingScriptOT.ttf') format('truetype'), url('fonts/DancingScriptOT.svg#DancingScriptOT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light.eot');
    src: url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Montserrat-Light.woff2') format('woff2'), url('fonts/Montserrat-Light.woff') format('woff'), url('fonts/Montserrat-Light.ttf') format('truetype'), url('fonts/Montserrat-Light.svg#DancingScriptOT') format('svg');
    font-weight: normal;
    font-style: normal;
}